.footer-box{
    width: 10.625rem;
    border-radius: 20px;
    height: 120px;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box i{
    font-size: 55px;
}
.match{
    background: linear-gradient(1deg, #007783, #00f1ff);
}
.squad{
    background: linear-gradient(1deg, #4ec700, #adf400);
    
}
.team{
    background: linear-gradient(1deg, #e3051e, #ff3186);
}
.contract{
    background: linear-gradient(1deg, #84019d, #cc01d7);
}
.daily-game{
    background: linear-gradient(1deg, #d06600, #dfb500);
}